/*tercer forma*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');

h1 {
    cursor: pointer;
}
* {
    font-family: 'Roboto Slab', serif;
}
nav ul {
    color: rgb(255, 0, 34) ;
}
nav ul li {
    list-style: circle;
}
nav ul li a{
    text-decoration: none;
    font-size: 24px;
    font-style: italic;
}

/*propiedades de texto*/
.text-right {
    letter-spacing: 3px;
    text-align: justify; /*left | right | */
    word-spacing: 15px;
    text-transform: capitalize /*lowercase | uppercase | capitalize*/;
    text-decoration: underline /*underline*/;
}
.text-right span {
    word-spacing: 2px;
}

/*----------------*/